:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: url('../assets/reef.png');
    background-size: cover;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

main {
    max-height: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 258px 100px 1fr;
}

#keyboard-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 3;
}

/* #keyboard-container div {
    border: solid black 1px;
} */

#claw-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
}

.l-claw {
    background-image: url('../assets/left.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.r-claw {
    background-image: url('../assets/right.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#sebastian {
    justify-self: center;
    height: 200px;
}

#c4 {
    background-image: url('../assets/shellQ.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#d4 {
    background-image: url('../assets/shellW.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#e4 {
    background-image: url('../assets/shellE.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#f {
    background-image: url('../assets/shellR.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#g {
    background-image: url('../assets/shellT.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#a {
    background-image: url('../assets/shellY.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#b {
    background-image: url('../assets/shellU.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#c5 {
    background-image: url('../assets/shellI.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#d5 {
    background-image: url('../assets/shellO.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#e5 {
    background-image: url('../assets/shellP.png');
    background-repeat: no-repeat;
    background-size: contain;
}
#f5 {
    background-image: url('../assets/shellB.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#ghost-note-container {
    grid-row-start: 4;
}

.slide {
    width: 100%;
    height: 100%;
}
.slide-img {
    width: 100%;
    height: 100%;
}
