:root {
    --background: rgb(224, 234, 247);
    --header-background: rgb(254, 251, 245);
    --primary-font: Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans',
        'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif;
}

body {
    font-family: var(--primary-font);
    background: url('../assets/reef.png');
    background-size: cover;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    height: 80px;

    display: flex;
    align-items: center;
    gap: 10px;

    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 200px 258px 100px 1fr;
}

#keyboard-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 3;
}

#keyboard-container div {
    border: solid black 1px;
}

#claw-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-column-start: 1;
    grid-column-end: 12;
    grid-row-start: 2;
}

.l-claw {
    background-image: url('../assets/left.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.r-claw {
    background-image: url('../assets/right.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#sebastian {
    grid-column-start: 6;
    grid-column-end: 6;
    height: 200px;
}

.key {
    background-image: url('../assets/shell.png');
    background-repeat: no-repeat;
    background-size: contain;
}
